<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
	xmlns:dt="http://www.thymeleaf.org/dandelion/datatables" />

<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script th:src="@{/js/jquery-1.9.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

<title>Add Book</title>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> Menu <i
						class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#">Simple Library Automation</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-left">
					<li class="active"></li>
					<li><a href="/list_books">List Books</a></li>
					<li><a href="/list_authors">List Authors</a></li>
					<li><a href="/rest/list_books">Rest Api List Books</a></li>
					<li><a href="/rest/list_authors">Rest Api List Authors</a></li>
					<li><a href="/add_book">Add Book</a></li>
					<li><a href="/add_author">Add Author</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div align="center">
		<h1>New/Edit Book</h1>
		<form action="#" th:action="@{/save_book}" th:object="${book}" method="post">
			<table>
				 <input type="hidden" th:field="*{id}"/>
				<tr>
					<td>Book Name:</td>
					<td><input type="text" class="form-control" th:field="*{book_name}"></input></td>
				</tr>
				<tr>
					<td>ISBN:</td>
					<td><input type="text" class="form-control" th:field="*{ISBN}"></input></td>
				</tr>
				<tr>
					<td>Publish Year:</td>
					<td><input type="text" class="form-control" th:field="*{publish_year}"></input></td>
				</tr>
				<tr>
					<td>Publisher:</td>
					<td><input type="text" class="form-control" th:field="*{publisher}"></input></td>
				</tr>
				<tr>
					<td>Status:</td>
					<td><input type="text" class="form-control" th:field="*{status}"></input></td>
				</tr>

				<tr>
					&nbsp;&nbsp;<td><button class="btn btn-danger" type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>